@font-face {
  font-family: 'Konnect';
  src: url('../public/font/KonnectBlack.otf') format('opentype');
}

body{
  background-color: blue;
}

a{
  font-size: 18px;
  color: white;
}

sup{
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  min-height: 94vh;
  overflow: hidden;
}

.headerfooter{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: end;
  z-index: 4;
}

.colors{
  display: flex;
}

.colors:hover{
  cursor: pointer;
}

form{
  width: 100%;
  display: flex;
  justify-content: center;
}

input{
  width: 60%;
  border: none;
  background-color: transparent;
  border-bottom: 15px solid white;
  padding-bottom: 0px;
  font-size: 150px;
  height: 120px;
  padding: 13px 0px 0px 0px;
  margin: 0;
  color: white;
  font-family: 'Konnect';
  text-transform: lowercase;
}

input:focus{
  outline: none;
}


::placeholder {
  color: var(--c, white);
  opacity: 1; /* Firefox */
}

.info{
  justify-self: end;
}

.info a{
  text-decoration: none;
}

.infoText:hover{
  cursor: pointer;
}

.infoTextContent{
  transition: display 0.6s ease;
}

.colorbox{
  height: 30px;
  width: 40px;
  border-bottom: 10px solid;
}

.loader{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  overflow-y: hidden;
  touch-action: none;
  z-index: 888;
  pointer-events: none;
  display: grid;
  place-content: center;
  transition: opacity 0.6s ease;
  opacity: 1;
}

.loader.hidden {
  opacity: 0;
  pointer-events: none;
}

.wordContainer{
  width: 75vw;
  height: 80vh;
  display: grid;
  align-items: end;
}

.text{
  height: 80%;
  display: grid;
  align-items: start;
}

.word{
  width: 100%;
  height: 10vh;
  display: grid;
  align-content: end;
}

.word a{
  font-size: 130px;
}

.definition{
  display: grid;
  align-content: start;
}

.definition a{
  font-size: 35px;
  opacity: 1;
}

.example{
}

.example a{
  font-size: 25px;
}

.animation-trigger {
  animation: animateDefinition 0.5s;
}

@keyframes animateDefinition {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.arrows{
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.arrowL:hover{
  cursor: w-resize !important;
}

.arrowR:hover{
  cursor: e-resize !important;
}

.wordNotFound{
  text-align: center;
  margin-bottom: 200px;
}

@media only screen and (max-width: 1600px) {

  input{
    width: 70%;
    border-bottom: 14px solid white;
    font-size: 130px;
    height: 90px;
  }
  
}

@media only screen and (max-width: 1210px) {

  input{
    width: 75%;
    border-bottom: 13px solid white;
    font-size: 100px;
    height: 70px;
  }

  .text{
    height: 80%;
  }

  .wordContainer{
    width: 90vw;
  }
  
}

@media only screen and (max-width: 900px) {

  input{
    width: 100%;
    border-bottom: 10px solid white;
    font-size: 80px;
    height: 55px;
  }

  .headerfooter{
    grid-template-columns: 40% 60%;
  }

  .word a{
    font-size: 105px;
  }

  .definition a{
    font-size: 30px;
  }

  .example a{
    font-size: 23px;
  }
  
  
}

@media only screen and (max-width: 585px) {

  main {
    padding: 1rem 2rem;
  }

  input{
    border-bottom: 8px solid white;
    font-size: 70px;
    height: 50px;
  }

  .headerfooter{
    grid-template-columns: 100%;
    justify-items: center;
  }

  .info{
    justify-self: center;
  }

  .text{
    height: 80%;
  }

  .word a{
    font-size: 100px;
  }

  .definition a{
    font-size: 28px;
  }

  .example a{
    font-size: 20px;
  }

}

@media only screen and (max-width: 525px) {

  input{
    border-bottom: 8px solid white;
    font-size: 55px;
    height: 40px;
  }

}

@media only screen and (max-width: 440px) {

  main {
    padding: 1rem 1rem;
  }

  input{
    border-bottom: 8px solid white;
    font-size: 45px;
    height: 30px;
  }

  .word a{
    font-size: 80px;
  }

  .definition a{
    font-size: 22px;
  }

  .example a{
    font-size: 15px;
  }

}